body {
	background-color: Peru;



 }

h2, h3, h4, ul, header {
	color: white;
}

 #slogan {
 	font-weight: italic;
 	font-family: 'Alegreya Sans', sans-serif;
 }

  h1 {
  	color: white;
  	font-style: Verdana;
    font-family: 'Volkhov', serif;
  }

  header {
  	font-size: 28px;
  }

  title {
  	padding: .8em 0;
  }

 #footer {
 	color: white;
 }
   