
body {
  background-color: #8B4513;
  font-size: 20px;

 }

 h1 {
  font-size:2em;
 }

 h4{
  font-size: 1.4em;
 }

 p{
  font'size: 1em;
 }

header, nav a {
  background: Peru;
  oveflow: auto;
}

nav a {
  float: right;
  font-size: 26px;
  color: white;
  text-decoration: none;
  margin: 30px;
  line-height: 1.5em;
  display: inline-block;
}

a:hover {
  background-color: #C0C0C0;
 }

  li{
    list-style: none;
  }

 h1 {
  display: inline-block;
  float:left; 
  padding: 10px;
 }

 img {
  width: 40%;
  padding: 30px;
  float: left;
 }

  div {
    padding: 30px;
  }

  #main text {
  display: inline-block;
  width: 40%;
  padding: 30px;
  }

h2, h3, h4, ul, header {
	color: white;
}

  h1 {
  	color: white;
  	font-style: Verdana;
    font-family: 'Volkhov', serif;
  }

  header {
  	font-size: 28px;
  }

  title {
  	padding: .8em 0;
  }

 #footer {
 	color: white;
 }

@media only screen and (max-width: 768px) {

  nav {
    float: none;
  }
  
  nav a {
      margin: 0 1.6em .75em 0;
  }

  img {
    width: 320px;
  }
  
  #main text {
    font-size: 1.4em;
    line-height: 1.8em;
  }
  
}

@media only screen and (max-width: 480px) {

h1, nav {
  display: block;
  text-align: center;
  }
    
nav a {
    margin: 0 1em 1em;
  }


img {
    width: 230px;
  }

  p, ul {
    margin: 1.8em .6em 0;
  }

  li {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
  }
  
}

   