body {
	background-color: purple;
	font-family: 'Volkhov', serif;

 }

h2, h3, h4, ul {
	color: white;
}

 #slogan {
 	font-weight: italic;
 	font-family: 'Alegreya Sans', sans-serif;
 }

  h1 {
  	color: white;
  	font-style: Verdana;
  }